:root {
  --primary-white-color: #ffffff;
  --dark-bg-color: #2f303a;
  --background-button-color: #f5f4fa;
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --icon-color: #afb1b8;
  --grid-item: 1;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  padding: 10px 32px;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  transition: background-color var(--animation), box-shadow var(--animation);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  transition: color var(--animation);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  transition: color var(--animation);
}

.contact-nav__link:hover, .contact-nav__link:focus {
  color: var(--accent-color);
}

.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-nav__link:hover .contact-nav__icon,
.contact-nav__link:focus .contact-nav__icon {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
  text-decoration: none;
}

.logo--accent {
  color: var(--accent-color);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: fill var(--animation), background-color var(--animation);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--primary-white-color);
}

.footer-form {
  display: flex;
  align-items: baseline;
}

.footer-form__input {
  width: 358px;
  padding: 15px;
  margin-right: 12px;
  background-color: var(--dark-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer-form__button:hover, .footer-form__button:focus {
  background-color: #188ce8;
}

.footer-form__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-white-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-color);
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  transition: color var(--animation), background-color var(--animation);
}

.modal__button-close:hover, .modal__button-close:focus {
  fill: var(--accent-color);
}

.modal-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__position {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: var(--accent-color);
  cursor: pointer;
  transition: border var(--animation);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  fill: var(--title-color);
  transition: fill var(--animation);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline-color: var(--accent-color);
  transition: border var(--animation);
}

.modal-form__comment:focus-within {
  border: 1px solid var(--accent-color);
}

.modal-form__comment::placeholder {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__button {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.modal-form__button:hover, .modal-form__button:focus {
  background-color: #188ce8;
}

.modal-checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: var(--primary-text-color);
}

.modal-checkbox__input {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.modal-checkbox__link {
  margin-left: 5px;
  font-weight: 400;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  transition: background-color var(--animation), border-color var(--animation);
}

.modal-checkbox__input:checked + .modal-checkbox__icon {
  background: url(../images/icon/modal-check.svg);
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid__item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

.navigation {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--dark-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/webstudio/hero/bg.jpg);
}

.hero__title {
  width: 697px;
  margin: 0 auto 31px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.features {
  padding-bottom: 0;
}

.features__title {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.features__item {
  --grid-item: 4;
}

.features__item::before {
  content: " ";
  display: block;
  height: 120px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  background-color: var(--background-button-color);
}

.features__icon-antenna::before {
  background-image: url(../images/icon/features/antenna.svg);
}

.features__icon-clock::before {
  background-image: url(../images/icon/features/clock.svg);
}

.features__icon-diagram::before {
  background-image: url(../images/icon/features/diagram.svg);
}

.features__icon-astronaut::before {
  background-image: url(../images/icon/features/astronaut.svg);
}

.about__item {
  --grid-item: 3;
}

.about__item {
  position: relative;
}

.about__description {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.team {
  box-sizing: border-box;
  background-color: var(--background-button-color);
}

.team__item {
  --grid-item: 4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-color);
}

.team__member-profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.clients__list {
  display: flex;
}

.clients__item {
  --grid-item: 6;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color var(--animation);
}

.clients__link:hover, .clients__link:focus {
  border-color: solid var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer--dark-bg {
  background-color: var(--dark-bg-color);
}

.footer__container-address {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.footer__join-in {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer__icon--white {
  fill: var(--primary-white-color);
}

.footer-contacts {
  padding-top: 60px;
  flex-basis: calc((50% - 45px) / 2);
}

.footer-contacts__logo--white {
  color: var(--primary-white-color);
}

.footer-contacts__address--white {
  color: var(--primary-white-color);
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

.footer-socials {
  padding-top: 72px;
  flex-basis: calc((50% - 45px) / 2);
}

.footer__social-icons {
  justify-content: start;
}

.footer-subscription {
  padding-top: 72px;
  flex-basis: calc(50% - 15px);
}

.filter__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  min-width: 73px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-color);
  background-color: var(--background-button-color);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
}

.filter__button:hover, .filter__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects__item {
  --grid-item: 3;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  transition: box-shadow var(--animation);
  overflow: hidden;
}

.projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow var(--animation);
}

.projects__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.projects__filter {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  color: var(--primary-text-color);
}

.projects__content {
  padding: 20px 24px;
}

.projects__link {
  color: inherit;
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__thumb::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--animation);
}

.projects__item:hover .projects__thumb::before {
  opacity: 1;
  transform: translateY(0);
}

.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--animation);
}

.projects__item:hover .projects-overlay {
  opacity: 1;
  transform: translateY(0);
}

.projects-overlay__text {
  align-items: center;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}
/*# sourceMappingURL=main.css.map */