.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: fill var(--animation), background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);

  .social-icons__link:hover &,
  .social-icons__link:focus & {
    fill: var(--primary-white-color);
  }
}
