.about__item {
  --grid-item: 3;
}

.about__item {
  position: relative;
}

.about__description {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
