.clients__item {
  --grid-item: 2;

  @media screen and (min-width: 768px) {
    --grid-item: 3;
  }

  @media screen and (min-width: 1200px) {
    --grid-item: 6;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color var(--animation);

  &:hover,
  &:focus {
    border-color: solid var(--accent-color);
    color: var(--accent-color);
  }
}
.clients__icon {
  fill: currentColor;
}
