.features {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.features__title {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);

  @media screen and (min-width: 480px) and (max-width: 767px) {
    text-align: center;
  }
}

.features__description {
  margin-bottom: 0;
}

.features__item {
  --grid-item: 1;

  @media screen and (min-width: 768px) {
    --grid-item: 2;
  }

  @media screen and (min-width: 1200px) {
    --grid-item: 4;
  }

  &::before {
    content: " ";
    display: block;
    height: 120px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    background-color: var(--background-button-color);
  }
}

.features__icon-antenna::before {
  background-image: url(../images/icon/features/antenna.svg);
}

.features__icon-clock::before {
  background-image: url(../images/icon/features/clock.svg);
}

.features__icon-diagram::before {
  background-image: url(../images/icon/features/diagram.svg);
}

.features__icon-astronaut::before {
  background-image: url(../images/icon/features/astronaut.svg);
}
