.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--dark-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/webstudio/hero/bg.jpg);
}

.hero__title {
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 26px;
  line-height: 1, 62;
  width: 697px;
  margin: 0 auto 31px;
  font-weight: 900;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
